<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro Repartidor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-input [(ngModel)]="nombre" label="Ingrese Nombre:" type="text" labelPlacement="floating" fill="outline" placeholder=""></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input [(ngModel)]="correo" label="Ingrese Correo:" type="email" labelPlacement="floating" fill="outline" placeholder="a*****23@gmail.com"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input  [(ngModel)]="contrasenna" label="Ingrese Contraseña" labelPlacement="floating" type="password"placeholder=""></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input  [(ngModel)]="rut" label="Ingrese Rut:" type="tel" labelPlacement="floating" placeholder="11111111-1"></ion-input>
      </ion-item>

      
      <ion-col>
        <ion-button class="xico1" (click)="registro()"  shape="round">Crear</ion-button>
      </ion-col>

    
        <ion-col>
          <ion-button class="xico" (click)="volver()" shape="round">Volver</ion-button>
        </ion-col>



   

      

    </ion-card-content>
 
  </ion-card>
</ion-content>
