ion-content {
    --background: #c4ecff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  ion-card {
    max-width: 700px; 
    text-align: center;
    border: 1px solid #d13d3d; 
    border-radius: 10px; 
    --background:  #c4ecff
  }
  
  ion-card-content {
    padding: 40px;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  .xico {
    width: 100%;
    margin-top: 15px;
    --background: #ff0000; 
    --color: #000000; 
    border: none;
    border-radius: 20px; 
    padding: 10px;
  }
  
  .xico:hover {
    --background: #fffc3d; 
  }

  .xico1{
    width: 100%;
    margin-top: 15px;
    --background: #41af54; 
    --color: #333; 
    border: none;
    border-radius: 40px; 
    padding: 10px;

    
  }

  .xico1:hover {
    --background: #94d1e4; 
  }
  