<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-button color="danger" slot="start" (click)="cancelar()">
      <ion-icon size="large" name="caret-back-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="xd"> 
    <ion-card-content>
      <ion-item>
        <ion-label class="label" >Email:</ion-label>
        <ion-input class="input" [(ngModel)]="correo" type="email"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-button  class="si" (click)="resetearContra()"expand="block"> Enviar por correo
          <ion-icon slot="end"  name="paper-plane-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
 
</ion-content>
