<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vista Paquetes</ion-title>

    <ion-button color="danger" slot="start" (click)="volver()">
      <ion-icon size="large" name="caret-back-circle-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let paquete of paquetes">
    <ion-card-header>
      <ion-card-title>{{ paquete.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>ID: {{ paquete.id }}</p>
      <p>Descripción: {{ paquete.descripcion }}</p>
      <p>Destinatario: {{ paquete.destinatario }}</p>
      <p>Estado: {{ paquete.estado }}</p>
      <p>ID del Repartidor: {{ paquete.repartidorId }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
